---
import { SocialMedia } from '../../data/footer.json';
import '../../css/footer.css';
---

<footer class='footer'>
  <div class='footer__container container'>
    <h1 class='footer__title'>Younes</h1>
    <p>Profesional carpenter</p>
    <ul class='footer__list'>
      <li>
        <a href='#home' class='footer__link'>Home</a>
      </li>
      <li>
        <a href='#skills' class='footer__link'>Skills</a>
      </li>
      I
      <li>
        <a href='#projects' class='footer__link'>Projects</a>
      </li>
    </ul>

    <ul class='footer__social'>
      {
        SocialMedia.map(({ href, icon }) => (
          <a
            href={href}
            target='_blank'
            rel='noopener noreferrer'
            class='footer__social-link'
          >
            <i class={icon} />
          </a>
        ))
      }
    </ul>

    <!-- <ul class='footer__social'>
      <a
        href='https://www.linkedin.com/'
        target='_blank'
        rel='noopener noreferrer'
        class='footer__social-link'
      >
        <i class='ri-linkedin-box-line'></i>
      </a>
      <a
        href='https://www.github.com/'
        target='_blank'
        rel='noopener noreferrer'
        class='footer__social-link'
      >
        <i class='ri-github-line'></i>
      </a>
      <a
        href='https://dribbble.com/'
        target='_blank'
        rel='noopener noreferrer'
        class='footer__social-link'
      >
        <i class='ri-dribbble-line'></i>
      </a>
    </ul> -->
    <span class='footer__copy'
      >&#169; Copyright Chabi-Code. All rights reserved</span
    >
  </div>
</footer>

<script>
  import '../../js/footer.js';
</script>
