.footer {
}

.footer__container {
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__list,
.footer__social {
  display: flex;
  justify-content: center;
}

.footer__list {
  margin: 2.5rem 0;
  column-gap: 2.5rem;
}

.footer__link {
  color: var(--title-color);
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  column-gap: 1.25rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform 0.3s;
}
.footer__social-link:hover {
  transform: translateY(-0.15rem);
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  font-size: var(----small-font-size);
  color: var(--text-color-light);
}

@media screen and (min-width: 1023px) {
  .footer__container {
    padding: 4rem 0 3rem;
  }

  .footer__list {
    colunm-gap: 3rem;
    margin: 3rem 0;
  }

  .footer__social {
    colunm-gap: 2rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  .footer__copy {
    margin-top: 5rem;
  }
}
